---
layout: default
---
{%- assign _sections = site.sections | sort: 'order' -%}
{%- include header.html scrolly_nav=_sections -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
	{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt
	auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Sections -->
	{%- for _section in _sections -%}
	{%- include section.html title=_section.title photo=_section.cover-photo photo-alt=_section.cover-photo-alt
	auto-header=_section.auto-header content=_section.content ishome=_section.ishome -%}
	{%- endfor -%}
	<!--
	<a type="button" id="goDown">↓</a>
	<a type="button" id="goUp">↑</a>
	-->
</div>
<div class="flakes" aria-hidden="true">
	<div class="flake">🏵</div>
	<div class="flake">✿</div>
	<div class="flake">❀</div>
	<div class="flake">❁</div>
	<div class="flake">✿</div>
	<div class="flake">❀</div>
	<div class="flake red">🏵</div>
	<div class="flake red">❀</div>
	<div class="flake red">✿</div>
	<div class="flake red">✿</div>
	<div class="flake red">❁</div>
	<div class="flake red">❀</div>
	<div class="flake blue">✿</div>
	<div class="flake blue">❁</div>
	<div class="flake blue">❀</div>
	<div class="flake blue">❁</div>
	<div class="flake blue">❀</div>
	<div class="flake blue">✿</div>
	<div class="flake green">☘</div>
	<div class="flake green">☘</div>
	<div class="flake green">🍀</div>
	<div class="flake green">☘</div>
	<div class="flake green">🍀</div>
	<div class="flake green">☘</div>
</div>